/* Анимация пульсации точки */
@keyframes pulse {
    0% {
        transform: translateY(-50%) scale(0.8);
        opacity: 1;
    }
    50% {
        transform: translateY(-50%) scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: translateY(-50%) scale(0.8);
        opacity: 1;
    }
}

/* FAQ - Вопросы / Ответы */
.faq-container {
    width: 25%;
    margin: 20px auto;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.faq-container.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.faq-title {
    font-weight: 700; /* Жирный (Medium) */
    font-size: 30px;
}

.faq-item {
    margin-bottom: 15px;
    padding-bottom: 5px;
    position: relative;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Добавляем, чтобы стрелка ушла вправо */
    cursor: pointer;
    font-weight: 700; /* Жирный (Medium) */
    font-size: 16px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    padding-left: 14px; /* Оставляем уменьшенный левый отступ */
    padding-right: 14px; /* Добавляем отступ справа, чтобы стрелка не прилипала */
    width: 100%; /* Чтобы flex работал корректно */
}

.faq-arrow {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    margin-left: auto; /* Отправляем стрелку в крайний правый угол */
}

.faq-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: -15px; /* Сдвигаем точку левее за пределы блока */
    top: 20px;
    transform: translateY(-50%);
    animation: pulse 1.5s infinite;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 12px 20px; /* Отступы со всех сторон */
    font-weight: 400; /* Обычный (Normal) */
    font-size: 16px;
    background: linear-gradient(135deg, #ffffff, #ececec);
    border-radius: 10px;
    margin-top: 8px;
    opacity: 0;
    transform: scale(0.95);
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.2s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Теперь блок ответа равен вопросу */
    box-sizing: border-box; /* Учитывает padding в общей ширине */
}

/* Когда ответ раскрыт */
.faq-item.active .faq-answer {
    opacity: 1;
    transform: scale(1);
    max-height: 1000px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Для раскрытого вопроса */
.faq-item.active .faq-question {
    background: #e0e0e0;
}

.faq-question:hover {
    background: #e1e1e1;
}

/* Анимация стрелки при открытии */
.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

/* Прячем точку, если вопрос раскрыт */
.faq-item.active .faq-dot {
    display: none;
}