.player {
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

#volume-icon {
    width: 20px;
    height: 20px;
}

/* Базовые стили слайдера */
#volume-slider {
    appearance: none;
    -webkit-appearance: none; /* Для Safari и Chrome */
    -moz-appearance: none; /* Для Firefox */
    width: 60px;
    height: 5px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, #447BBA 100%, #d3d9de 0%);
    transition: background 0.2s ease-in-out;
}

/* Заполняемая часть слайдера */
#volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

/* Ползунок по центру и скрыт по умолчанию */
#volume-slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none; /* Для Safari и Chrome */
    -moz-appearance: none; /* Для Firefox */
    width: 14px;
    height: 14px;
    background: #447BBA;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px; /* Смещаем thumb вверх, чтобы он был ровно по центру */
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Ползунок появляется при наведении */
#volume-slider:hover::-webkit-slider-thumb {
    opacity: 1;
}
